.root {
    width: 250px;
    background: rgb(211, 192, 192);

    .image {
        height: 250px;
    }

    img {
        height: 250px;
        width: 250px;
        display: inline-block;
    }

    .text {
        padding: 10px;


    }

    .selector {
        display: inline-block;
        text-align: center;
        line-height: 24px;
        height: 25px;
        width: 60px;
        background: blueviolet;
        border-radius: 13px;
        margin-right: 3px;
        cursor: pointer;
        color: white;
        margin-top: 15px;
    }

    p {
        margin: 15px 0 15px;
    }

    .button {
        margin-left: 2px;
        margin-top: 5px;
        display: block;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: rgb(38, 189, 38);
        font-size: 15px;
    }

    .active {
        color: black;
        background-color: white;
        border: 1px solid black;
    }
}